.banner {
    background-image: url(../assets/Hero-bg.png);
    padding: 26px 221px 44px 221px;

    display: flex;
    justify-content: center;
    align-items: center;


}

.banner-container {
    text-align: center;
}

.banner-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 32px;

}

.banner-para {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-top: 24px;
    padding: 0px 73px;

}

.btn-contact-me {
    padding: 21px 24px 21px 24px;

    border-radius: 8px;

    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}


/* why web development */

.why-web {
    width: 1140px;
    margin: auto;
    padding: 80px 97px;
    border-radius: 16px;

    background: rgba(13, 19, 33, 0.02);


}

.header-info-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.why-para {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;


}

.btn-learn-more{
    cursor: pointer;
}

.header-info {
    text-align: center;
    padding: 0px 47px 48px;
}



.why-box1 {
    padding: 48px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    border-radius: 16px;

    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.why-content {
    width: 477px;
    margin: 10px 0px;
}

.why-title {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}

.why-content-para {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

.btn-learn-more {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}



.why-content2 {
    margin: 10px 110px 10px 32px;
}


/* my inspiration part  */

.inspiration-header {

    width: 852px;
    margin: auto;
    margin-bottom: 48px;



}

.inspiration-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 24px;
}

.inspiration-title-discription {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}

.quick-sort {
    margin: 32px;

    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.video {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;

}


/* My current target  */

.current-content {
    width: 1140px;
    
    margin: auto;
}

.current-content {
    display: flex;
    gap: 24px;

}

.current-content p {
    text-align: left;
}

.current-terget {
    margin-top: 149px;
}

.current-skill {
    width: 364px;
   
    padding: 40px;
    border-radius: 16px;


}

.html-bg {
    background: rgba(190, 19, 7, 0.05);
}

.css-bg {
    background: rgba(0, 81, 232, 0.05);
}

.javascript-bg {
    background: rgba(161, 151, 2, 0.05);
}



/* footer  */

.handshake {
    margin: auto;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../assets/handshake.jpg");

    background-position: center;
    width: 1140px;
    height: 320px;

    border-radius: 16px;
    padding: 70px 48px 70px 48px;
    text-align: center;
    margin-top: 50px;



}

.handshake-title {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    margin-bottom: 16px;
    ;
}

.handshake-discription {
    width: 606px;
    height: 52px;

    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    margin-bottom: 30px;
    opacity: 0.7;

}

#suggest-field {
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    padding: 19px 20px 19px 20px;
    background: rgb(255, 255, 255);
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;


}

#submit-btn {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    width: 120px;
    height: 58px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 17px 20px 17px 20px;
    margin-top: 24px;

}

form input[type="submit"]{
 cursor: pointer;
}   

/* footer2  */

.footer2 {
    padding: 32px 150px 32px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: auto;
    margin-top: 50px;
    border-radius: 16px;
    align-items: center;
    background: rgba(13, 19, 33, 0.068);
}

.footer2 p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 22px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;

}